# INUTIL FOLDERS

/.vscode
/Arquivo
/hospedagem
/node_modules

# SECRET COMMANDS

src/commands/Util/tradutor.js

# HOST FILES

Procfile

# CONFIDENCIAL FILES

.env
.replit
main.sh
server.js
.eslintrc.js
package-lock.json
star-developer.zip
LavalinkManagerBackup.js
src/config/json/botlist.json
src/config/json/config.json
src/config/json/player.json
src/config/json/webhooks.json
src/config/json/giveaways.json
src/config/json/dashboard.json

# DA LISTA DE ADG E SEUS PNG NA PASTA

perfil-274289097689006080.png
perfil-568182075929395210.png

# AFF KIBA N DEU TRABALHO

src/commands/Util/tradutor.js