# INUTIL FOLDERS

/.vscode
/Arquivo
/node_modules

# CONFIDENCIAL FILES

.env
.replit
main.sh
server.js
package-lock.json
src/config/json/botlist.json
src/config/json/config.json
src/config/json/player.json